@import 'resets';

$contentWidth: 1240px;

.navbar {
    width: 100%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;

    &_2 {
        width: $contentWidth;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;

        .nav_links {

            a {
                font-weight: 400;
                font-size: 16px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 30px;
                text-decoration: none;
                color: #1D1F22;
                border-bottom: 2px solid #FFFFFF;
            }

            a:hover {
                color: #5ECE7B;
                border-bottom: 2px solid #5ECE7B;
            }
        }

        .homeLogo {
            height: 41px;
            display: flex;
            justify-content: center;
        }

        .Currency_CartLogo {
            display: flex;
            justify-content: flex-end;

            .Currency {
                display: flex;
                justify-content: flex-end;

                &_2 {
                    display: flex;

                    .select_currency {
                        display: flex;
                        align-items: center;
                        margin-right: 22px;
                        cursor: pointer;

                        p {
                            font-weight: 500;
                            font-size: 18px;
                            color: #1D1F22;
                            margin-right: 10px;
                        }

                        svg {
                            height: 3px;
                            width: 6px;
                        }
                    }
                }

                .drop_down_currencies {
                    position: absolute;
                    width: fit-content;
                    margin-top: 28px;
                    margin-right: -24px;
                    font-weight: 500;
                    font-size: 18px;
                    color: #1D1F22;

                    .currencies_list {
                        cursor: pointer;
                        padding: 8px;
                    }

                    .currencies_list:hover {
                        background: #EEEEEE;
                    }
                }
            }

            .cart {

                svg {
                    width: 20px;
                    height: 20px;
                    margin-top: 4px;
                }
            }

            svg {
                cursor: pointer;
            }
        }
    }
}

.item_list {
    width: $contentWidth;
    margin: 70px auto;


    .item_cards {
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        padding: 0 15px;
        margin-top: 70px;

        a:nth-child(3) {
            div:nth-child(1) {
                background-position: bottom !important;
            }
        }

        a {
            padding: 16px;
            display: flex;
            flex-direction: column;
            text-decoration: none;

            .item_card_photo {
                background-position: center !important;
                background-size: cover !important;
                background-repeat: no-repeat !important;
                width: 100%;
                height: 355px;
            }

            .item_card_info {
                margin-top: 25px;

                div:nth-child(1) {
                    font-weight: 300;
                    font-size: 18px;
                    color: #1D1F22;
                }

                div:nth-child(2) {
                    font-weight: 500;
                    font-size: 18px;
                    color: #1D1F22;
                    margin-top: 10px;
                }
            }
        }

        a:hover {
            box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
            transform: scale(1.03);
        }
    }
}

@media(max-width:1440px) {
    .navbar {
        &_2 {
            width: 100%;
        }
    }

    .item_list {
        width: 100%;
    }
}