* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Medium.eot");
  src: url("./fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/Raleway-Medium.woff2") format("woff2"), url("./fonts/Raleway-Medium.woff") format("woff"), url("./fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.eot");
  src: url("./fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto-Regular.woff2") format("woff2"), url("./fonts/Roboto-Regular.woff") format("woff"), url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/Roboto-Condensed.eot");
  src: url("./fonts/Roboto-Condensed.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto-Condensed.woff2") format("woff2"), url("./fonts/Roboto-Condensed.woff") format("woff"), url("./fonts/Roboto-Condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-Regular.eot");
  src: url("./fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/SourceSansPro-Regular.woff2") format("woff2"), url("./fonts/SourceSansPro-Regular.woff") format("woff"), url("./fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --first: 0%;
  --second: 0%;
}

.navbar {
  width: 100%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
}
.navbar_2 {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.navbar_2 .nav_links a {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  color: #1D1F22;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 27px;
  text-decoration: none;
  border-bottom: 2px solid #FFFFFF;
}
.navbar_2 .nav_links a:hover {
  color: #5ECE7B;
  border-bottom: 2px solid #5ECE7B;
  font-weight: 600;
}
.navbar_2 .homeLogo {
  height: 41px;
  display: flex;
  justify-content: center;
}
.navbar_2 .Currency_CartLogo {
  display: flex;
  justify-content: flex-end;
  margin-right: 4px;
}
.navbar_2 .Currency_CartLogo .Currency {
  display: flex;
  justify-content: flex-end;
}
.navbar_2 .Currency_CartLogo .Currency_2 {
  display: flex;
}
.navbar_2 .Currency_CartLogo .Currency_2 .select_currency {
  display: flex;
  align-items: center;
  margin-right: 22px;
  cursor: pointer;
}
.navbar_2 .Currency_CartLogo .Currency_2 .select_currency p {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  color: #1D1F22;
  margin-right: 10px;
}
.navbar_2 .Currency_CartLogo .Currency_2 .select_currency svg {
  height: 3px;
  width: 6px;
}
.navbar_2 .Currency_CartLogo .Currency .drop_down_currencies {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 28px;
  margin-right: -24px;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  color: #1D1F22;
  line-height: 160%;
}
.navbar_2 .Currency_CartLogo .Currency .drop_down_currencies .currencies_list {
  cursor: pointer;
  padding: 8px;
}
.navbar_2 .Currency_CartLogo .Currency .drop_down_currencies .currencies_list:hover {
  background: #EEEEEE;
}
.navbar_2 .Currency_CartLogo .cart {
  position: relative;
  right: 12px;
}
.navbar_2 .Currency_CartLogo .cart .total_quantity {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 1;
  background: #1D1F22;
  border-radius: 50%;
  top: -4px;
  right: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay {
  position: absolute;
  width: 325px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 16px;
  margin-left: -300px;
  margin-top: 26px;
  background: #FFFFFF;
  z-index: 1;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .quantity_and_photo .photo-slider {
  display: none;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .for_scroll {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 50vh;
  overflow-y: auto;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .for_scroll::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
  background: #8D8F9A;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .for_scroll::-webkit-scrollbar-thumb {
  border-radius: 3px;
  width: 5px;
  background: #1D1F22;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .total_items {
  margin-bottom: 32px;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 500;
  color: #1D1F22;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .total_items span {
  font-weight: 700;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .total_amount {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .total_amount div:nth-child(1) p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  color: #1D1F22;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .total_amount div:nth-child(2) p {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
  color: #1D1F22;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_buttons {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_buttons a:nth-child(1) {
  background: #FFFFFF;
  border: 1px solid #1D1F22;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 600;
  color: #1D1F22;
  cursor: pointer;
  transition: ease-in 0.4s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 13px;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_buttons button:nth-child(2) {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  background: #5ECE7B;
  border: 1px solid #5ECE7B;
  border: none;
  cursor: pointer;
  transition: ease-in 0.4s;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_buttons a:nth-child(1):hover {
  border: 1px solid #5ECE7B;
  background: #5ECE7B;
  color: #FFFFFF;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_buttons button:nth-child(2):hover {
  background: #FFFFFF;
  border: 1px solid #1D1F22;
  color: #1D1F22;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_overlay_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 40px;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_overlay_item_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_overlay_item_info .product_info_brand,
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_overlay_item_info .product_info_name {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  color: #1D1F22;
  margin-bottom: 5px;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_overlay_item_info .product_info_price {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 600;
  color: #1D1F22;
  margin-top: 5px;
  margin-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_overlay_item_info .product_info_attributes {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
  color: #1D1F22;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_overlay_item_info .product_info_attributes .swatch {
  margin-top: 8px;
  margin-bottom: 0;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_overlay_item_info .product_info_attributes .swatch .swatch_2 {
  width: 20px;
  height: 20px;
  cursor: default;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_overlay_item_info .product_info_attributes .swatch .swatch_2 div {
  width: 16px !important;
  height: 16px !important;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_overlay_item_info .product_info_attributes .text {
  margin-top: 8px;
  margin-bottom: 0;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_overlay_item_info .product_info_attributes .text .text_2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 24px;
  height: 24px;
  cursor: default;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_overlay_item .quantity_and_photo .add_decrease_quantity {
  margin-right: 8px;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_overlay_item .quantity_and_photo .add_decrease_quantity .quantity_number {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 600;
  color: #1D1F22;
}
.navbar_2 .Currency_CartLogo .cart .cart_overlay .cart_overlay_item .photo_slider {
  display: none;
}
.navbar_2 .Currency_CartLogo .cart svg {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}
.navbar_2 .Currency_CartLogo svg {
  cursor: pointer;
}

.item_list {
  width: 1240px;
  margin: 0 auto;
}
.item_list h1 {
  margin: 70px 0;
  font-family: "Raleway";
  font-size: 42px;
  font-weight: 400;
  color: #1D1F22;
}
.item_list .item_cards {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 0 15px;
  margin-top: 70px;
}
.item_list .item_cards a:nth-child(3) div:nth-child(1) {
  background-position: bottom !important;
}
.item_list .item_cards a:hover .item_cart {
  display: flex;
}
.item_list .item_cards .item_disabled {
  opacity: 0.5;
}
.item_list .item_cards .item_disabled .item_card_photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item_list .item_cards .item_disabled .item_card_photo .out_of_stock {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 400;
  color: #8D8F9A;
  text-decoration: none;
}
.item_list .item_cards a {
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
}
.item_list .item_cards a .item_cart {
  position: absolute;
  right: 31px;
  bottom: 72px;
  display: none;
  width: 52px;
  height: 52px;
  background: #5ECE7B;
  border-radius: 50%;
}
.item_list .item_cards a .item_cart div {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item_list .item_cards a .item_cart:hover {
  filter: brightness(0.9);
}
.item_list .item_cards a .item_card_photo {
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 355px;
}
.item_list .item_cards a .item_card_info {
  margin-top: 25px;
}
.item_list .item_cards a .item_card_info div:nth-child(1) {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 300;
  color: #1D1F22;
}
.item_list .item_cards a .item_card_info div:nth-child(2) {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 600;
  color: #1D1F22;
  margin-top: 10px;
}
.item_list .item_cards a:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  transform: scale(1.03);
  background: #FFFFFF;
}

.product {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.product_2 {
  display: grid;
  grid-template-columns: 1fr 6fr 4fr;
  gap: 40px;
}
.product_2 .all_photos img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.product_2 .main_photo img {
  width: 85%;
}
.product_2 .product_info_name, .product_2 .product_info_attributes, .product_2 .product_info_button {
  margin-bottom: 40px;
}
.product_2 .product_info_price {
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: 700;
  color: #1D1F22;
  margin-bottom: 10px;
}
.product_2 .product_info_amount {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  color: #1D1F22;
  margin-bottom: 20px;
}
.product_2 .product_info_button {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  background: #5ECE7B;
  padding: 16px 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  width: 68%;
  cursor: pointer;
}
.product_2 .product_info_button:hover {
  filter: brightness(0.9);
}
.product_2 .product_info_description {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #1D1F22;
  width: 70%;
  line-height: 159.96%;
}
.product_2 .product_info_description h1 {
  line-height: 159.96%;
}
.product_2 .product_info_attributes_attributes:last-child {
  margin-bottom: 0px !important;
}

.cart_page {
  width: 1240px;
  margin: 0 auto;
}
.cart_page_2 {
  width: 100%;
}
.cart_page_2 h1 {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 700;
  color: #1D1F22;
  margin-bottom: 80px;
}
.cart_page_2 .for_scroll .cart_overlay_item:last-child {
  border-bottom: 1px solid #E5E5E5;
}
.cart_page_2 .for_scroll .cart_overlay_item {
  display: grid;
  grid-template-columns: 1fr 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-top: 1px solid #E5E5E5;
  padding: 8px 0;
  align-items: center;
}
.cart_page_2 .for_scroll .cart_overlay_item .cart_overlay_item_info .product_info_attributes {
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: 700;
  color: #1D1F22;
}
.cart_page_2 .for_scroll .cart_overlay_item .cart_overlay_item_info .product_info_attributes .swatch {
  margin-bottom: 16px;
}
.cart_page_2 .for_scroll .cart_overlay_item .cart_overlay_item_info .product_info_attributes .swatch .swatch_2 {
  cursor: auto;
}
.cart_page_2 .for_scroll .cart_overlay_item .cart_overlay_item_info .product_info_attributes .text {
  margin-bottom: 16px;
}
.cart_page_2 .for_scroll .cart_overlay_item .cart_overlay_item_info .product_info_attributes .text .text_2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 63px;
  height: 45px;
  cursor: default;
}
.cart_page_2 .for_scroll .cart_overlay_item .quantity_and_photo {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.cart_page_2 .for_scroll .cart_overlay_item .quantity_and_photo .add_decrease_quantity {
  height: 100%;
  width: 45px;
}
.cart_page_2 .for_scroll .cart_overlay_item .quantity_and_photo .add_decrease_quantity .add,
.cart_page_2 .for_scroll .cart_overlay_item .quantity_and_photo .add_decrease_quantity .decrease {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro";
  font-size: 22px;
  font-weight: 400;
  color: #1D1F22;
}
.cart_page_2 .for_scroll .cart_overlay_item .quantity_and_photo .add_decrease_quantity .quantity_number {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  color: #1D1F22;
}
.cart_page_2 .for_scroll .cart_overlay_item .quantity_and_photo .cart_photo {
  display: none;
}
.cart_page_2 .for_scroll .cart_overlay_item .quantity_and_photo .photo_slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
@-webkit-keyframes animRight {
  0% {
    transform: translateX(var(--first));
  }
  100% {
    transform: translateX(var(--second));
  }
}
@keyframes animRight {
  0% {
    transform: translateX(var(--first));
  }
  100% {
    transform: translateX(var(--second));
  }
}
@-webkit-keyframes animLeft {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes animLeft {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(0%);
  }
}
.cart_page_2 .for_scroll .cart_overlay_item .quantity_and_photo .photo_slider .animationRight {
  -webkit-animation-name: animRight;
          animation-name: animRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.cart_page_2 .for_scroll .cart_overlay_item .quantity_and_photo .photo_slider .animationLeft {
  -webkit-animation-name: animLeft;
          animation-name: animLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.cart_page_2 .for_scroll .cart_overlay_item .quantity_and_photo .photo_slider .photo_slider_2 {
  display: flex;
  align-items: center;
  width: 210px;
  max-height: 230px;
  transition: ease-in-out 0.4s;
}
.cart_page_2 .for_scroll .cart_overlay_item .quantity_and_photo .photo_slider .photo_slider_2 img {
  width: 210px;
}
.cart_page_2 .for_scroll .cart_overlay_item .quantity_and_photo .photo_slider .sliders {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.cart_page_2 .for_scroll .cart_overlay_item .quantity_and_photo .photo_slider .sliders svg {
  cursor: pointer;
}
.cart_page_2 .for_scroll .cart_overlay_item .quantity_and_photo .photo_slider .sliders svg:nth-child(1) {
  margin-right: 8px;
}
.cart_page_2 .product_info_price {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  color: #1D1F22;
  margin: 20px 0;
}
.cart_page_2 .product_info_name {
  text-decoration: none;
}
.cart_page_2 .order_info {
  margin: 32px 0;
}
.cart_page_2 .order_info_2 {
  display: flex;
}
.cart_page_2 .order_info_2_text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 400;
  color: #1D1F22;
}
.cart_page_2 .order_info_2_numbers {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  color: #1D1F22;
  margin-left: 5px;
}
.cart_page_2 .order_info .button_order {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  width: 279px;
  margin-top: 20px;
  background: #5ECE7B;
  padding: 16px 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  cursor: pointer;
}
.cart_page_2 .order_info .button_order:hover {
  filter: brightness(0.9);
}

.product_info_brand {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 600;
  color: #1D1F22;
  margin-bottom: 15px;
}

.product_info_name {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 400;
  color: #1D1F22;
}

.product_info_attributes {
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: 700;
  color: #1D1F22;
  text-transform: uppercase;
}
.product_info_attributes .swatch {
  margin-bottom: 24px;
}
.product_info_attributes .swatch div {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: wrap;
}
.product_info_attributes .swatch div .swatch_2 {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
  margin-top: 8px;
}
.product_info_attributes .swatch div .swatch_2 div {
  width: 32px !important;
  height: 32px !important;
}
.product_info_attributes .text {
  margin-bottom: 24px;
}
.product_info_attributes .text div {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: wrap;
}
.product_info_attributes .text div .text_2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 63px;
  height: 45px;
  cursor: pointer;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  border: 1px solid #1D1F22;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  color: #1D1F22;
}

.quantity_and_photo {
  display: flex;
}
.quantity_and_photo .add_decrease_quantity {
  height: 100%;
  width: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quantity_and_photo .add_decrease_quantity .add,
.quantity_and_photo .add_decrease_quantity .decrease {
  width: 24px;
  height: 24px;
  border: 1px solid #1D1F22;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  color: #1D1F22;
}
.quantity_and_photo .add_decrease_quantity .quantity_number {
  display: flex;
  justify-content: center;
}
.quantity_and_photo .cart_photo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}
.quantity_and_photo .cart_photo img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 1440px) {
  .navbar_2 {
    width: 100%;
  }
  .navbar_2 .cart_overlay {
    margin-left: -295px !important;
  }
  .item_list {
    width: 100%;
  }
  .product {
    width: 100%;
  }
  .cart_page {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .item_list .item_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .product_2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }
  .product_2 .main_photo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .product_2 .main_photo img {
    margin-left: auto;
    margin-right: auto;
  }
  .product_2 .product_info {
    margin-left: auto;
    margin-right: auto;
  }
  .product_2 .product_info .product_info_description {
    width: 100%;
  }
  .product_2 .product_info .product_info_description ul {
    margin-left: 20px;
  }
}
@media (max-width: 600px) {
  .item_list .item_cards {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
  .item_list .item_cards a:hover {
    transform: unset;
  }
}
@media (max-width: 500px) {
  .cart_page_2 .for_scroll .cart_overlay_item {
    display: grid;
    grid-template-columns: 1fr;
  }
  .cart_page_2 .for_scroll .cart_overlay_item .cart_overlay_item_info {
    margin-left: auto;
    margin-right: auto;
  }
  .cart_page_2 .for_scroll .cart_overlay_item .quantity_and_photo {
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
  }
  .cart_page_2 .order_info .order_info_2 {
    justify-content: center;
  }
  .cart_page_2 .order_info .button_order {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=App.css.map */