@import 'resets', 'fonts';

$contentWidth: 1240px;

:root {
    --first: 0px; //for slider animation
    --second: 0px; //for slider animation
}

@mixin font($family, $size, $color, $fontWeight) {
    font-family: $family;
    font-size: $size;
    font-weight: $fontWeight;
    color: $color;
}

.navbar {
    width: 100%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;

    &_2 {
        width: $contentWidth;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;

        .nav_links {

            a {
                @include font ('Raleway', 16px, #1D1F22, 400);
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 27px;
                text-decoration: none;
                border-bottom: 2px solid #FFFFFF;
            }

            a:hover {
                color: #5ECE7B;
                border-bottom: 2px solid #5ECE7B;
                font-weight: 600;
            }
        }

        .homeLogo {
            height: 41px;
            display: flex;
            justify-content: center;
        }

        .Currency_CartLogo {
            display: flex;
            justify-content: flex-end;
            margin-right: 4px;

            .Currency {
                display: flex;
                justify-content: flex-end;

                &_2 {
                    display: flex;

                    .select_currency {
                        display: flex;
                        align-items: center;
                        margin-right: 22px;
                        cursor: pointer;

                        p {
                            @include font ('Raleway', 18px, #1D1F22, 500);
                            margin-right: 10px;
                        }

                        svg {
                            height: 3px;
                            width: 6px;
                        }
                    }
                }

                .drop_down_currencies {
                    position: absolute;
                    width: fit-content;
                    margin-top: 28px;
                    margin-right: -24px;
                    @include font ('Raleway', 18px, #1D1F22, 500);
                    line-height: 160%;

                    .currencies_list {
                        cursor: pointer;
                        padding: 8px;
                    }

                    .currencies_list_selected {
                        background: #EEEEEE;
                    }

                }
            }

            .cart {
                position: relative;
                right: 12px;

                .total_quantity {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    z-index: 1;
                    background: #1D1F22;
                    border-radius: 50%;
                    top: -4px;
                    right: -12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include font ('Roboto', 14px, #FFFFFF, 700);
                    cursor: pointer;
                }

                .cart_overlay {
                    position: absolute;
                    width: 325px;
                    height: fit-content;
                    padding: 16px;
                    right: -15px;
                    top: 53px;
                    background: #FFFFFF;
                    z-index: 1;

                    .quantity_and_photo {

                        .photo-slider {
                            display: none;
                        }
                    }

                    .for_scroll {
                        height: fit-content;
                        max-height: 50vh;
                        overflow-y: auto;
                    }

                    .for_scroll::-webkit-scrollbar {
                        width: 5px;
                        border-radius: 3px;
                        background: #8D8F9A;
                    }

                    .for_scroll::-webkit-scrollbar-thumb {
                        border-radius: 3px;
                        width: 5px;
                        background: #1D1F22;
                    }

                    .total_items {
                        margin-bottom: 32px;
                        @include font ('Raleway', 16px, #1D1F22, 500);


                        span {
                            font-weight: 700;
                        }
                    }

                    .total_amount {
                        display: flex;
                        justify-content: space-between;
                        margin: 32px 0;

                        div:nth-child(1) p {
                            @include font ('Roboto', 16px, #1D1F22, 600);
                        }

                        div:nth-child(2) p {
                            @include font ('Raleway', 16px, #1D1F22, 700);
                        }
                    }

                    .cart_buttons {
                        user-select: none;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 12px;

                        a:nth-child(1) {
                            background: #FFFFFF;
                            border: 1px solid #1D1F22;
                            @include font ('Raleway', 14px, #1D1F22, 600);
                            cursor: pointer;
                            transition: ease-in 0.4s;
                            text-decoration: none;
                            display: flex;
                            justify-content: center;
                            padding: 13px;
                        }

                        button:nth-child(2) {
                            @include font ('Raleway', 14px, #FFFFFF, 600);
                            background: #5ECE7B;
                            border: 1px solid #5ECE7B;
                            border: none;
                            cursor: pointer;
                            transition: ease-in 0.4s;
                        }

                        a:nth-child(1):hover {
                            border: 1px solid #5ECE7B;
                            background: #5ECE7B;
                            color: #FFFFFF;
                        }

                        button:nth-child(2):hover {
                            background: #FFFFFF;
                            border: 1px solid #1D1F22;
                            color: #1D1F22;
                        }
                    }

                    .cart_overlay_item {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        height: fit-content;
                        margin-bottom: 40px;

                        &_info {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;


                            .product_info_brand,
                            .product_info_name {
                                @include font ('Raleway', 16px, #1D1F22, 300);
                                margin-bottom: 5px;
                                text-decoration: none;
                                width: fit-content;
                            }

                            .product_info_price {
                                @include font ('Raleway', 16px, #1D1F22, 600);
                                margin-top: 5px;
                                margin-bottom: 10px;
                                width: fit-content;
                            }

                            .product_info_attributes {
                                @include font ('Raleway', 14px, #1D1F22, 400);

                                .swatch {
                                    margin-top: 8px;
                                    margin-bottom: 0;

                                    .swatch_2 {
                                        width: 20px;
                                        height: 20px;
                                        cursor: default;

                                        div {
                                            border: 1px solid grey;
                                            width: 16px !important;
                                            height: 16px !important;
                                        }
                                    }

                                    .swatch_2_selected {
                                        border: 1px solid #5ECE7B;
                                    }
                                }


                                .text {
                                    margin-top: 8px;
                                    margin-bottom: 0;

                                    .text_2 {
                                        width: fit-content;
                                        min-width: 24px;
                                        height: 24px;
                                        cursor: default;
                                        background: white;
                                        color: #1D1F22;
                                    }

                                    .text_2_selected {
                                        background: #1D1F22;
                                        color: white;
                                    }
                                }
                            }

                        }

                        .quantity_and_photo {

                            .add_decrease_quantity {
                                margin-right: 8px;

                                .quantity_number {
                                    @include font ('Raleway', 16px, #1D1F22, 600);
                                }
                            }

                            .cart_photo {
                                height: 100%;
                                width: 100%;
                                display: flex;
                                align-items: center;

                                img {
                                    width: 100%;
                                }
                            }
                        }

                        .photo_slider {
                            display: none;
                        }
                    }

                    .cart_overlay_item:last-child {
                        margin-bottom: 10px;
                    }
                }

                svg {
                    width: 20px;
                    height: 20px;
                    margin-top: 4px;
                }
            }

            svg {
                cursor: pointer;
            }
        }
    }
}

.item_list {
    width: $contentWidth;
    margin: 0 auto;

    h1 {
        margin: 70px 0;
        @include font ('Raleway', 42px, #1D1F22, 400);
        text-transform: capitalize;
    }


    .item_cards {
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        padding: 0 15px;
        margin-top: 70px;


        a:hover {
            .item_cart {
                display: flex;
            }
        }

        // to show cart icon on hover

        .item_disabled {
            opacity: 0.5;

            .item_card_photo {
                position: relative;
                width: 100%;
                height: 355px;

                .out_of_stock {
                    @include font ('Raleway', 24px, #8D8F9A, 400);
                    text-decoration: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
        }

        a {
            padding: 16px;
            display: flex;
            flex-direction: column;
            text-decoration: none;
            position: relative;

            .item_cart {
                position: absolute;
                right: 31px;
                bottom: 72px;
                display: none;
                width: 52px;
                height: 52px;
                background: #5ECE7B;
                border-radius: 50%;

                div {
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .item_cart:hover {
                filter: brightness(0.9)
            }

            .item_card_photo {
                width: 100%;
                height: 355px;
                display: flex;
                justify-content: center;

                .photo_2 {
                    max-width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .item_card_info {
                margin-top: 25px;

                div:nth-child(1) {
                    @include font ('Raleway', 18px, #1D1F22, 300);
                }

                div:nth-child(2) {
                    @include font ('Raleway', 18px, #1D1F22, 600);
                    margin-top: 10px;
                }
            }
        }

        a:hover {
            box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
            transform: scale(1.03);
            background: #FFFFFF;
        }
    }
}

.product {
    width: $contentWidth;
    margin-left: auto;
    margin-right: auto;

    &_2 {
        display: grid;
        grid-template-columns: 1fr 6fr 4fr;
        gap: 40px;
        margin-top: 70px;

        .all_photos {

            img {
                width: 80px;
                cursor: pointer;
            }
        }

        .main_photo {

            img {
                width: 85%;
            }
        }

        .product_info {

            &_name,
            &_attributes,
            &_button {
                margin-bottom: 40px;
            }

            &_price {
                @include font ('Roboto Condensed', 18px, #1D1F22, 700);
                margin-bottom: 10px;
            }

            &_amount {
                @include font ('Raleway', 24px, #1D1F22, 700);
                margin-bottom: 20px;
            }

            &_button {
                @include font ('Raleway', 16px, #FFFFFF, 600);
                background: #5ECE7B;
                padding: 16px 32px;
                user-select: none;
                border: none;
                width: 68%;
                cursor: pointer;
            }

            &_button:hover {
                filter: brightness(0.9)
            }

            &_description {
                @include font ('Roboto', 16px, #1D1F22, 400);
                width: 70%;
                line-height: 159.96%;

                h1 {
                    line-height: 159.96%;
                }
            }

            &_attributes {


                &_attributes:last-child {
                    margin-bottom: 0px !important;
                }
            }
        }
    }
}

.cart_page {
    width: $contentWidth;
    margin: 0 auto;

    &_2 {
        width: 100%;

        h1 {
            @include font ('Raleway', 32px, #1D1F22, 700);
            margin: 80px 0;
        }

        .for_scroll {

            .cart_overlay_item:last-child {
                border-bottom: 1px solid #E5E5E5;
            }

            .cart_overlay_item {
                display: grid;
                grid-template-columns: 1fr 300px;
                height: fit-content;
                border-top: 1px solid #E5E5E5;
                padding: 8px 0;
                align-items: center;


                .cart_overlay_item_info {


                    .product_info_attributes {
                        @include font ('Roboto Condensed', 18px, #1D1F22, 700);

                        .swatch {
                            margin-bottom: 16px;

                            .swatch_2 {
                                cursor: auto;
                            }


                        }

                        .text {
                            margin-bottom: 16px;

                            .text_2 {
                                width: fit-content;
                                min-width: 63px;
                                height: 45px;
                                cursor: default;
                            }
                        }
                    }
                }

                .quantity_and_photo {
                    padding: 16px 0;
                    display: flex;
                    justify-content: space-between;
                    height: 100%;

                    .add_decrease_quantity {

                        height: 100%;
                        width: 45px;

                        .add,
                        .decrease {
                            width: 45px;
                            height: 45px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            @include font ('Source Sans Pro', 22px, #1D1F22, 400);

                        }

                        .quantity_number {
                            @include font ('Raleway', 24px, #1D1F22, 600);
                        }
                    }

                    .cart_photo {
                        display: none;
                    }

                    .photo_slider {
                        display: flex;
                        position: relative;
                        overflow: hidden;
                        width: 210px;
                        height: 230px;
                        align-self: center;


                        @keyframes animRight {
                            0% {
                                transform: translateX(var(--first));
                            }

                            100% {
                                transform: translateX(var(--second)); //will be the percentage of the last photo in slider
                            }
                        }

                        @keyframes animLeft {
                            0% {
                                transform: translateX(210px); //width of block
                            }

                            100% {
                                transform: translateX(0px);
                            }
                        }

                        .animationRight {
                            animation-name: animRight;
                            animation-duration: 0.5s;
                        }

                        .animationLeft {
                            animation-name: animLeft;
                            animation-duration: 0.5s;
                        }

                        .photo_slider_2 {
                            transition: ease-in-out 0.4s;
                            display: flex;

                            span {
                                width: 210px;
                                height: 230px;
                                display: flex;
                                justify-content: center;


                                img {
                                    width: 100%;
                                    object-fit: contain;
                                }
                            }
                        }

                        .sliders {
                            position: absolute;
                            bottom: 8px;
                            right: 16px;

                            svg {
                                cursor: pointer;
                            }

                            svg:nth-child(1) {
                                margin-right: 8px;
                            }
                        }
                    }

                }

            }
        }

        .product_info_price {
            @include font ('Raleway', 24px, #1D1F22, 700);
            margin: 20px 0;
        }

        .product_info_name {
            text-decoration: none;
        }

        .order_info {
            margin: 32px 0;

            &_2 {
                display: flex;

                &_text {
                    width: fit-content;
                    @include font ('Raleway', 24px, #1D1F22, 400);
                }

                &_numbers {
                    width: fit-content;
                    @include font ('Raleway', 24px, #1D1F22, 700);
                    margin-left: 5px;
                }
            }

            .button_order {
                @include font ('Raleway', 16px, #FFFFFF, 600);
                width: 279px;
                margin-top: 20px;
                background: #5ECE7B;
                padding: 16px 32px;
                user-select: none;
                border: none;
                cursor: pointer;
            }

            .button_order:hover {
                filter: brightness(0.9)
            }
        }

    }
}

.product_info_brand {
    @include font ('Raleway', 30px, #1D1F22, 600);
    margin-bottom: 15px;
}

.product_info_name {
    @include font ('Raleway', 30px, #1D1F22, 400);
}

//by default, in differnet sections could be used a little other styles.
.product_info_attributes {
    @include font ('Roboto Condensed', 18px, #1D1F22, 700);
    text-transform: uppercase;

    .swatch {
        margin-bottom: 24px;

        div {
            display: flex;
            width: fit-content;
            flex-wrap: wrap;

            .swatch_2 {
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-right: 8px;
                margin-top: 8px;

                div {
                    border: 1px solid grey;
                    width: 32px !important;
                    height: 32px !important;
                }
            }

            .swatch_2_selected {
                border: 1px solid #5ECE7B;
            }
        }
    }

    .text {

        margin-bottom: 24px;

        div {
            display: flex;
            width: fit-content;
            flex-wrap: wrap;

            .text_2 {
                width: fit-content;
                min-width: 63px;
                height: 45px;
                cursor: pointer;
                margin-right: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 8px;
                border: 1px solid #1D1F22;
                background: white;
                @include font ('Source Sans Pro', 16px, #1D1F22, 400);
            }

            .text_2_selected {
                background: #1D1F22;
                color: white;
            }
        }
    }
}

//by default, in differnet sections could be used a little other styles.
.quantity_and_photo {
    display: flex;
    height: 100%;

    .add_decrease_quantity {
        height: 100%;
        width: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .add,
        .decrease {
            width: 24px;
            height: 24px;
            border: 1px solid #1D1F22;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            @include font ('Source Sans Pro', 16px, #1D1F22, 400);
        }

        .quantity_number {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .cart_photo {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        img {
            width: 100%;
        }
    }
}



@media(max-width:1440px) {
    .navbar {
        &_2 {
            width: 100%;

        }
    }

    .item_list {
        width: 100%;
    }

    .product {
        width: 100%;
    }

    .cart_page {
        width: 100%;
    }
}

@media(max-width:1000px) {
    .item_list {

        .item_cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media(max-width:800px) {
    .product {

        &_2 {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            justify-items: center;

            .main_photo {
                width: 100%;
                display: flex;
                justify-content: center;

                img {
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .product_info {
                margin-left: auto;
                margin-right: auto;

                .product_info_description {
                    width: 100%;

                    ul {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

@media(max-width:600px) {
    .item_list {

        .item_cards {
            grid-template-columns: repeat(1, 1fr);
            padding: 0;

            a:hover {
                transform: unset;
            }
        }
    }
}

@media(max-width:500px) {

    .cart_page {

        &_2 {

            .for_scroll {

                .cart_overlay_item {
                    display: grid;
                    grid-template-columns: 1fr;

                    .cart_overlay_item_info {
                        margin-left: auto;
                        margin-right: auto;
                    }

                    .quantity_and_photo {
                        display: flex;
                        justify-content: flex-start;
                        margin-left: auto;
                        margin-right: auto;
                    }

                }
            }

            .order_info {

                .order_info_2 {
                    justify-content: center;
                }

                .button_order {
                    display: flex;
                    justify-content: center;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

        }
    }
}